body {
  padding-top: 50px;
}

.meetup-content {
  padding: 10% 10% 30% 10%;
  width: 80%;
}

a {
  font-size: 16px;
}

p, li {
  font-size: 16px;
  line-height: 1.618em;
  color: #555;
}

.meetups {
  list-style: none;
  padding-left: 20px;
  .starts-at {
    text-align: right;
    float: left;
    margin-right: 15px;
    color: #008542;
    font-size: 32px;
  }
}
body { font-family: 'Helvetica', 'Arial Rounded MT Bold' }
